html {
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;
	height:100%;
	width:100%;
	background-color:#b5b27c;
	overflow:hidden;
	/*background-size:200px;
	 background:url("gt.gif") no-repeat bottom 3em left 3em;*/
	}

body {background-color:#fff; padding:2em 2em 2.5em; border-radius:1em;}

a {text-decoration:none; border:none; color:#000;}
a:visited {color:#000;}



/* MAIN */
#bann {position:relative; font-family:"Calibri";}
#date {font:1.5em/1em "Calibri"; text-transform:uppercase;}

#clock {border-top:1px dashed #9a8e86; margin:1em 0 1.5em;}
#clock div {
	position:relative;
	top:-1px;
	height:1px;
	width:0px;
	background:#769849;
	transition:width 1s ease-out;
	}

#lnk {
	display:flex;
	flex-wrap:wrap;
	font-family:"Calibri";
	max-width:30em;
	}

#mail, #main, #hid {
	display:flex;
	justify-content:space-between;
	min-width:100%;
	}

#mail a {
	display:block;
	padding:0.4em;
	font:bold 1.3em "Courier New";
	color:#fff;
	border-radius:0.3em;
	}
#mail a:nth-child(n+0):nth-child(-n+3) {background:#b3372d;}
#mail a:nth-child(4) {background:#2d66b3;}
#mail a:nth-child(5) {background:#666699;}

#main {margin:2em 0 0; font-size:0.8em; line-height:1.7em;}
h1 {
	margin:0;
	padding:0;
	text-align:center;
	font-size:1.3em;
	}

#hid-c {display:none; margin:1em 0 0;}
#hid a {
	display:block;
	margin-right:0.2em;
	padding:0.2em 0.4em;
	font:0.8em "Courier New";
	border-radius:0.3em;
	}
#hid a:nth-child(1) {background:orange; color:#fff;}
#hid a:nth-child(n+1):nth-child(-n+6) {border:1px solid orange;}
#hid a:nth-child(n+7):nth-child(-n+8) {border:1px dashed grey;}
#hid a:nth-child(9) {border:1px dashed green;}
#hid a:nth-child(n+10):nth-child(-n+12) {border:1px solid black;}



/* AESTHETIC */
#twfno {
	position:absolute;
	top:-1.5em;
	right:-0.5em;
	color:#b3a69d;
	}
#twfno div {position:relative;}
#phr {
	left:1.5em;
	transform:rotate(1.5deg);
	font:0.7em "Calibri";
	}
#arr {
	top:0.4em;
	left:7.6em;
	transform:rotate(5deg);
	font:0.8em "Calibri";
	}
#haa {
	top:0.8em;
	left:11.3em;
	transform:rotate(5deg);
	font:0.5em "Calibri";
	}

#window {
	position:absolute;
	width:200%;
	height:100%;
	background-color:#f6f4d2;
	filter:blur(3px);
	transform:rotate(15deg) translate(-75em,45em);
	z-index:-3;
	}
#pillar {
	position:absolute;
	width:4%;
	height:100%;
	background-color:#b5b27c;
	filter:blur(3px);
	transform:rotate(8deg);
	z-index:-2;
	}